h3 {
  color: green;
}

#myHeader {
  color: black;
}

.title2 {
  color: rgb(132, 132, 4);
}

/* Important code */

h2 {
  /* color: purple !important; */
  color: purple;
}

#main-content h4 {
  font-style: normal;
}

section header h4 {
  font-style: italic;
}

/* selectores */
li {
  background-color: white;
}
.list > li {
  font-style: italic;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: green;
}

/* .button {
  text-transform: uppercase;
}

.item {
  text-transform: uppercase;
} */

.item, .button {
  text-transform: uppercase;
}

.label ~ input,
.label + input {
  border-color: #000;
}
